// 2 Google Webfonts Available
// Glegoo (400) and Open Sans (300, 800)

@mixin glegoo {
	font-family: 'Glegoo', serif;
	font-weight: 400;
}

@mixin openSans {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@mixin openSansBold {
	@include openSans;
	font-weight: 800;
}

body {
	@include openSans;
}

h1, h2, h3, h4, h5, h6 {
	@include glegoo;
}