    <footer class="full-width">
        <div class="row">
            <ul class="social-icons small-12 large-1 columns">
                <li><a href="https://www.twitter.com/drivetocreate" title="Drive to Create on Twitter"><i class="icon-twitter"></i></li>
                <li><a href="https://www.facebook.com/drivetocreate" title="Drive to Create on Facebook"><i class="icon-facebook"></i></li>
                <li><a href="mailto:info@drivetocreate.org" title="Email Drive to Create"><i class="icon-mail"></i></li>
            </ul>
            <nav class="small-12 large-6 columns">
                <a href="/about/" class="nav-item" title="About">About</a>
                <a href="/application/" class="nav-item" title="Apply for Assistance">Non-profit Application</a>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P5VGUZSVF6TBQ" class="nav-item" title="Donate">Donate</a>
            </nav>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup" class="small-12 large-4 columns">
                <form action="http://drivetocreate.us4.list-manage.com/subscribe/post?u=0d412f8c6d378ed00b7374fe9&amp;id=c9fb2213e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <label for="mce-EMAIL">Receive our Newsletter</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    <small>We only email you with big news. Never to beg.</small>
                </form>
            </div>
        </div>
        <div class="row">
            <ul class="info-items small-12 large-8 large-centered columns">
                <li>&copy; 2014 Drive to Create, Inc.</li>
                <li><a href="mailto:info@drivetocreate.org" title="Email Drive to Create">info@drivetocreate.org</a></li>
                <li>Drive to Create is a 501(c)(3)</li>
            </ul>
        </div>
    </footer>
