    <footer class="full-width color-footer page-footer">
        <div class="content">
            <div class="footer-social-icons">
                <a href="https://www.twitter.com/drivetocreate" title="Drive to Create on Twitter" class="footer-social-icon"><i class="icon-twitter"></i></a>
                <a href="https://www.facebook.com/drivetocreate" title="Drive to Create on Facebook" class="footer-social-icon"><i class="icon-facebook"></i></a>
                <a href="mailto:info@drivetocreate.org" title="Email Drive to Create" class="footer-social-icon"><i class="icon-mail"></i></a>
            </div>
            <div class="footer-info-items">
                &copy; 2014 Drive to Create, Inc., a 501(c)3 organization.
                <a href="mailto:info@drivetocreate.org" title="Email Drive to Create">info@drivetocreate.org</a>
            </div>
        </div>
    </footer>
