                <nav class="top-nav">
                    <a href="/" title="Home"><span class="logo"></span></a>
                    <ul>
                        <!-- <li class="nav-item">
                            <a href="/lend-a-hand/" title="Lend a Hand">lend a hand</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="/about/" title="About">about</a>
                        </li>
                        <li class="nav-item">
                            <a href="/application/" title="Non-profit Application">non-profit application</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="/get-educated/" title="Get Educated">get educated</a>
                        </li>-->
                        <li class="nav-item">
                            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P5VGUZSVF6TBQ" title="Donate">donate</a>
                        </li>
                    </ul>
                </nav>
