                <nav class="header-nav">
                    <a href="/" title="Home" class="header-home-link"><span class="logo"></span></a>
                    <ul class="header-nav-links">
                        <li class="header-nav-link">
                            <a href="/about/" title="About">about</a>
                        </li>
                        <li class="header-nav-link">
                            <a href="/application/" title="Non-profit Application">non-profit application</a>
                        </li>
                        <li class="header-nav-link">
                            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P5VGUZSVF6TBQ" title="Donate">donate</a>
                        </li>
                    </ul>
                </nav>
