.bg-video-container {
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
}

.bg-video {
    opacity: 0.2;
}

.video-overlay {
    z-index: 2;
    color: white;
    h1 {
        font-size: 1.9em;
        @include media(em(420)) {
            font-size: 2.5em;
        }
        @include media(em(500)) {
            font-size: 3em;
        }
        @include media(em(600)) {
            font-size: 3.5em;
        }
        @include media(em(700)) {
            font-size: 4em;
        }
        @include media(em(900)) {
            font-size: 5em;
        }
        text-align: center;
        color: white;
    }
}

// Video calculations

// $video-height: 400px;
// $video-width: $video-height * 1.77777;

// .bg-video {
//     height: 200px;
//     @include media(450px) {
//         height: 400px;
//     }
//     margin-left: -webkit-calc(#{$video-width} - 100%);
//     margin-left: calc($video-width - 100%);

//     @include media($video-width) {
//         width: 100%;
//         height: 0;
//         padding-bottom: 56.255;
//     }
// }
