.button {
	padding: 0.5em 1em;
	display: block;
	margin: 0 auto;
	border: 2px solid white;
	text-align: center;
	width: auto;
	background-color: transparent;
	color: white;
	cursor: pointer;
	&:hover {
		background-color: rgba(255,255,255,0.1);
        text-decoration: none;
	}
	&:visited {
		color: white;
	}
}
