.header-nav {
	background-color: $brown;
	@include clearfix();
    .color-homepage-topNav & {
        background-color: transparent;
    }
}

.header-nav-link {
    list-style: none;
	a {
		color: $light-brown;
		@include glegoo;
	}
	&.active {
		a {
			color: white;
		}
	}
}

.header-home-link .logo {
	color: $light-brown;
	font-size: 2.5em;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(/images/logo.svg);
	.no-svg & { background-image: url(/images/logo.png); }
}
