.page-footer {
    padding: 2em 0;
    .content {
        @include row();
    }
}

.footer-social-icons {
    list-style: none;
    display: block;
    margin: 0 auto;
    width: 145px;
    @include clearfix();
    @include media(em(500)) {
        float: left;
        margin: 0 1em;
    }
    @include media(em(650)) {
        margin: 0 3em;
    }
}

.footer-social-icon {
    text-align: center;
    font-size: 2em;
    display: inline-block;
    color: $magenta;
    &:hover {
        color: lighten($magenta, 10%);
    }
}

.footer-info-items {
    color: $light-brown;
    text-align: center;
    font-size: 0.75em;
    margin-top: 1em;
    @include media(em(600)) {
        text-align: left;
        float: right;
        line-height: 43px;
        margin-top: 0;
        margin-right: 0.5em;
    }
    @include media(em(700)) {
        margin-right: 3em;
    }
    a {
        color: $light-brown;
        margin-left: 1em;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
